<div class="top-row ps-3 navbar navbar-dark bg-dark align-items-center d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <img src="img/client.jpeg" alt="Client Logo" style="height: 40px; margin-right: 10px;" />
        <a class="navbar-brand" href="">Repaco</a>
    </div>
    <div>
        <img src="img/sayco.jpeg" alt="Dev Logo" style="height: 30px;" />
    </div>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/plc-status" Match="NavLinkMatch.Prefix">
                <span class="oi oi-monitor" aria-hidden="true"></span> PLC Dashboard
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
